Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans: <B>A database</B> is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).

<b><u>Di</u></b>
SQL databases are relational, and NoSQL databases are non-relational. 

SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data. 

SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans: Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

CREATE :
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

ALTER :
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.

DROP :
This command is used to remove an existing table along with its structure from the Database.

CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

ALTER TABLE Student_info
ADD CGPA number;

TRUNCATE TABLE table_name;

DROP TABLE table_name;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example
Ans: DML is a subset of SQL statements which alter the information stored in tables. As, it mainly concentrates on database performance, as well as it utilizes HDFS (Hadoop Distributed File System) storage’s append-only nature.

DML It is a dialect which is used to select, insert, delete and update data in a database.

INSERT Command –
This command is used to enter the information or values into a row. We can connect one or more records to a single table within a repository using this instruction. This is often used to connect an unused tag to the documents.

UPDATE Command –
This command is used to alter existing table records. Within a table, it modifies data from one or more records. This command is used to alter the data which is already present in a table.

DELETE Command –
It deletes all archives from a table. This command is used to erase some or all of the previous table’s records. If we do not specify the ‘WHERE’ condition then all the rows would be erased or deleted.

INSERT INTO students ('stu_id' int, 'stu_name' varchar(20), 'city' varchar(20)) VALUES ('1', 'Nirmit', 'Gorakhpur');

UPDATE students SET due_fees = 20000 WHERE stu_name = 'Mini';

DELETE FROM students WHERE stu_id = '001';

Q4. What is DQL? Explain SELECT with an example.

Ans: DQL is a portion of a SQL statement that allows you to get and organise data from a database. You can use the SELECT command to extract data from a database in order to perform actions on it. It is the same as the projection operation in relational algebra.

SELECT Stu_Name FROM Student WHERE Phone = 9039462908;

Q5. Explain Primary Key and Foreign Key.

Ans: A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique.

A foreign key is generally used to build a relationship between the two tables. The table allows only one primary key.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans: A cursor is an object which helps to execute the query and fetch the records from the database. 
Cursors are created by the connection. cursor() method: they are bound to the connection for the entire lifetime and all the commands are executed in the context of the database session wrapped by the connection.

Execute() method:This method executes the given database operation (query or command). The parameters found in the tuple or dictionary params are bound to the variables in the operation.

import mysql.connector   
mydb = mysql.connector.connect(   
  host="localhost",
  user="abc",
  password="password"   
  )
print(mydb)     
mycursor = mydb.cursor()  
queries)
mycursor.execute("CREATE DATABASE if not exists test1")     
mycursor.execute("CREATE TABLE if not exists test1.test_table1(C1 INT ,C2 VARCHAR(40),C3 INT,C4 FLOAT,C5 VARCHAR(40))")
mydb.close()

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans :Order         Clause	               Function

 1.	           FROM	               Tables are joined to get the base data.

 2.	           WHERE 	             The base data is filtered.

 3.	         GROUP BY 	            The filtered base data is grouped.

 4.	          HAVING 	            The grouped base data is filtered.

 5.	          SELECT 	            The final data is returned.
 
 6.	         ORDER BY                The final data is sorted.

 7.	          LIMIT	                 The returned data is limited to row count.